:root {
  --bg-body:#121214;
}

body {
  background-color: var(--bg-body);
  background-image: url(./assets/bg.svg);
  /*eixo X é o eixo horizontal*/
  background-position-x: center ;
  background-position-y: 55%;
}

#app {
  border: 1px solid red;
  width: fit-content;
  margin: 52px auto;
}

header {
  margin-bottom: 63px;
}