* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-body:#121214;
  --bg-card: #1d1c19;
  --bd-h2: #746615;
}

ul {
  list-style: none;
}

body {
  background-color: var(--bg-body);
  background-image: url(./assets/bg.svg);
  /*eixo X é o eixo horizontal*/
  background-position-x: center ;
  background-position-y: 55%;
}

#app {
  /*border: 1px solid red;*/
  width: fit-content;
  margin: 52px auto;
}

header {
  margin-bottom: 63px;
}

.card {
   border: 1px solid green; 
   padding: 32px 23px;
   text-align: center;


}

.card h2 {
  padding: 8px 16px;
  border: 1px solid var(--bd-h2);
  border-radius: 6px;
}
